* {
  box-sizing: border-box;
}

body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}
header {
  background-color: white;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  border: 2px solid grey;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 50px;
  object-fit: cover;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav li {
  margin-right: 75px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #333;
}

.title {
  color: white;
  border-bottom: 1px solid grey;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 40px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.responsibilities p {
  line-height: 1.0;
}

.project-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.project-card {
  flex: 1;
  margin: 0 10px;
  max-width: 300px;
  padding: 20px;
  transition: transform 0.3s ease;

}
.project-card:hover {
  transform: scale(1.05);
}
.project-card p{
  text-align: justify;
  text-justify:inter-word;
  line-height: 1;
}

.responsibilities {
  padding: 5px;
}

#info {
  margin-top: 100px;
}

.section_wrapper {
  margin: 50px;
  margin-bottom: 100px;
}

.bucketlist_wrapper {
  max-width: 600px;
  margin: 250px auto;
  padding: 20px;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#bucketlist-input {
  padding: 10px;
  margin-bottom: 10px;
  width: 70%;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  padding: 10px;
  margin-left: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

#bucket-list li {
  list-style: none;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

li .delete {
  color: #f44336;
  font-weight: bold;
  cursor: pointer;
}

li .complete {
  color: #4CAF50;
  font-weight: bold;
  cursor: pointer;
}

li .completed {
  text-decoration: line-through;
  color: black;
}

/* contact form */
 #contact-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 100%;
  margin: 250px auto;
  padding: 50px;
  border: 1px solid grey;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}

label,
input,
textarea {
  margin-bottom: 10px;
}

input,
textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}




/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/*calendar */
.calendar {
  max-width: 600px;
  margin: 250px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:#f8f8f8 ;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
}

#month {
  font-weight: bold;
}

#year {
  font-weight: bold;
  margin-left: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: center;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  border: none;
  background-color: #f2f2f2;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}

